version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: dental-postgres
    environment:
      POSTGRES_DB: dentalclinic
      POSTGRES_USER: dental
      POSTGRES_PASSWORD: dental
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: dental-api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/dentalclinic
      SPRING_DATASOURCE_USERNAME: dental
      SPRING_DATASOURCE_PASSWORD: dental

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
